[submodule "backends/flowise"]
	path = backends/flowise
	url = https://github.com/tien0483/Flowise.git
	branch = pixeloffice

[submodule "backends/OmniRoute"]
	path = backends/OmniRoute
	url = https://github.com/tien0483/OmniRoute.git
	branch = release/v3.8.51

[submodule "backends/openmaic"]
	path = backends/openmaic
	url = https://github.com/tien0483/OpenMAIC.git
	branch = pixeloffice


